@charset "UTF-8";
/* CSS Document */

body
{
	max-width: 100%;
	background-color: white;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

img
{
	max-width: 100%;
}

.centerImage
{
	position: relative;
	overflow: hidden;
	text-align: center;
	display: block;
	width: 100%;
}

.centerImage picture
{
	margin: 0;
	padding: 0; 
	padding-bottom: 10px; 
	outline: none;
}

.embeddedImage
{
	padding-left: 0;
	padding-right: 0;
	width: 95%;
}

a
{
	text-decoration: none;
}

nav
{
	max-width: 100%;
	background-color: white;
	text-align: center;
}

.NavImg
{
	width: 23%;
	margin: 0;
	padding: 0;
}

#header
{
	text-align: center;
	font-family: serif;
	font-weight: normal;
	font-size: 6em;
	text-transform: uppercase;
	margin-top: 5px;
	max-width: 960px;
}

h1
{
	text-align: center;
	font-family: serif;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 1px solid #57b1dc;
	margin-top: 30px;
	font-size: 5em;
}

h2
{
	color: blue;
	font-size: 4em;
}

h3
{
	color: black;
	font-size: 3.5em;
}

h4
{
	color: #d1633c;
	font-size: 3em;
}

h5
{
	color: black;
	font-size: 3em;
}

p
{
	color: black;
	font-size: 3em;
}

ol
{
	list-style-type: decimal;
	list-style-position: inside;
}

ol li
{
	font-size: 3em;
	clear: both;
	width: 100%;
}

.half-line
{
	line-height: .5em;
}

textarea
{
	width: 100%;
}

#main
{
  	max-width: 100%;
	text-align: left;
  	margin: 0 0 0 0;
}

#rightcolumn
{
  text-align: center;
  margin: 0 0 0 0;
}

.twitter-timeline
{
	font-size: 3em;
	overflow: hidden;
	position: relative;
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

#footer {
  text-align: center;
}

ul
{
	list-style-type: none;
}

ul li
{
	font-size: 3em;
	clear: both;
}
